{# Sidebar for admin template #}

<ul class="sidebar-menu">
    <li class="active">
        <a href="{{ path('bshared_admin') }}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{{ path('bshared_homepage') }}">
            <i class="fa fa-home"></i> <span>Frontend</span>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users') }}">
            <i class="fa fa-users"></i> <span>Users</span>
        </a>
    </li>
    <li>
        <a href="{{ path('bshared_admin') }}">
            <i class="fa fa-globe"></i> <span>New Menu1</span>
        </a>
    </li>
    <li>
        <a href="{{ path('bshared_admin') }}">
            <i class="fa fa-glass"></i> <span>New Menu2</span>
        </a>
    </li>
</ul>